---
import { siteConfig } from "../config";
---

<section id="about" class="p-8 sm:p-12 md:p-16 lg:p-24">
  <div>
    <div class="grid grid-cols-1 2xl:grid-cols-12 gap-12 2xl:gap-[clamp(2rem,5vw,4rem)] items-start">
      <div class="2xl:col-span-4">
        <h2
          class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-text-primary"
        >
          About Me
        </h2>
        <div
          class="w-[75px] h-[5px] mt-2 rounded-full"
          style={`background-color: ${siteConfig.accentColor}`}
        >
        </div>
      </div>

      <div class="2xl:col-span-8 mt-4 2xl:mt-0 space-y-8">
        <div class="text-lg sm:text-xl md:text-2xl leading-relaxed text-text-secondary space-y-4">
          {siteConfig.aboutMe.split('\n\n').map((paragraph) => (
            <p>{paragraph}</p>
          ))}
        </div>

        <div class="pt-4">
          <div class="flex flex-wrap gap-3">
            {
              siteConfig.skills.map((skill) => (
                <span class="px-3 sm:px-4 py-1.5 sm:py-2 bg-surface text-text-primary rounded-full text-sm sm:text-base md:text-lg font-medium hover:bg-decoration transition-colors duration-200">
                  {skill}
                </span>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
